# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# COORDINATOR_API_URL: The Google Apps Script Web App for Coordinator Database operations
COORDINATOR_API_URL="https://script.google.com/macros/s/AKfycbyL1pFyI1XykR-L_UFVvOdFZ4xWxE4D36SLSV1BuYFtghj1SKLkWAnthwm-qhkoy0nV/exec"

# ATTENDANCE_API_URL: The Google Apps Script Web App for Attendance and QR scanning operations
ATTENDANCE_API_URL="https://script.google.com/macros/s/AKfycbyUF7tO0o9V61BsOozeDHvU7CSyQzMfeRws5FChCIAyrQ_Vb_359VTLj-X7cIVpAQhIAA/exec"

# ADMIN_ACCESS_KEY: The master access key required to open Overall Admin Authentication
ADMIN_ACCESS_KEY="Aegis.CEO@03"

